.main{
    background-color: #f3f7ff;
}

#workspace{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f7ff;
}

#workspace .leftPage{
    flex: 1 0 50%;
}

#workspace .rightPage{
    flex: 1 0 50%;
    max-width: 50%;
}

#workspace .meta{
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#workspace .meta p{
    margin: 0;
}

.tool_bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.tool_bar_btn{
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: 100%;
}