#index{
    text-align: center;
    background-color: #f3f7ffc4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

#index h1,h2,h3,p{
    font-weight: normal;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.index_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 0 1rem;
    height: 55px;
}

.logo{
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.logo img{
    height: 2rem;
    width: 2em;
}

.logo p{
    margin: auto 1em;
    text-decoration: none;
    color: black;
}

.index-workplace{
    display: flex;
}

.doc-create{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100px;
    max-width: 210px;
    border: 1px solid #dddddd;
    border-right: none;
}

.doc-meta{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.doc-input label{
    display: block;
}

.doc-input select,input{
    min-height: 30px;
    max-width: 180px;
    margin: 1rem;
}

.doc-input-sel{
    width: 150px;
}

.doc-input-elm{
    display: inline-block;
}

.doc_start{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    border: 1px solid #dddddd;
    background-color: #2e3235;
    color: white;
    font-weight: bold;
}

.docs_main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: auto;
    border: 1px solid #dddddd;
}

.docs_title{
    margin: 1rem;
}

#index .docs_list{
    min-height: 70vh;
    justify-content: space-around;
    align-items: center;
}

#index .docs_list_item{
    display: inline-block;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
}
#index .docs_list_item:hover{
    background-color: #eaebeb;
}

#index .docs_list_item_content{
    min-height: 135px;
    border: 1px solid #ddd;
    border-radius: 1rem;
    max-width: 100px;
    display: inline-block;
    word-break: break-word;
    padding: 1em;
    background-color: #dddddd;
    user-select: none;
}

#index .docs_list_item a,button{
    text-decoration: none;
    color: black;
    border: none;
}

@media screen and (max-width: 680px) {
    .doc-create{
        max-width: 40vw;
    }

    .doc-input-sel{
        width: 25vw;
    }

    .doc-input-elm{
        width: 25vw;
    }
}