#index{
    text-align: center;
    background-color: #f3f7ff;
    min-height: 100vh;
}

#index .docs_list_item{
    border: 1px solid black;
    max-width: 100px;
    display: inline-block;
    word-break: break-word;
    margin: 1em;
    padding: 1em;
}